Repository ravshansbox/cr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, npx -w apps/api eslint --fix, npx -w apps/ui eslint --fix

fix broken tests
  apps/api/src/routers/users/registerUser.spec.ts
  apps/api/src/setup.vitest.ts
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

fix migrations in tests
  apps/api/package.json
  apps/api/src/setup.global.vitest.ts
  apps/api/src/setup.vitest.ts
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

migrate to `@tanstack/react-query`
  apps/ui/package.json
  apps/ui/src/App.tsx
  apps/ui/src/components/Table.tsx
  apps/ui/src/pages/MyCompanies.tsx
  apps/ui/src/useQuery.ts
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

remove tests
  apps/api/src/routers/users/registerUser.spec.ts
  apps/ui/src/pages/Home.spec.tsx
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix, npx -w apps/ui eslint --fix

bump deps
  apps/api/package.json
  apps/ui/package.json
  package-lock.json
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  npx -w apps/api eslint --fix: any of: apps/api/**/*.{js,jsx,ts,tsx}
  npx -w apps/ui eslint --fix: any of: apps/ui/**/*.{js,jsx,ts,tsx}
