Repository ravshansbox/cr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, npx -w apps/api eslint --fix, npx -w apps/ui eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "apps/api/**/*.{js,jsx,ts,tsx}": "npx -w apps/api eslint --fix",
  "apps/ui/**/*.{js,jsx,ts,tsx}": "npx -w apps/ui eslint --fix"
}

session 38: include user info inside token and show username in `Navbar`
  apps/api/package.json
  apps/api/src/routers/tokens/createToken.ts
  apps/api/src/routers/tokens/getToken.ts
  apps/ui/src/components/Navbar.tsx
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix, npx -w apps/ui eslint --fix

[FE] add test for `Dashboard` component
  apps/ui/src/pages/Dashboard.spec.tsx
  apps/ui/src/test-utils.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] update useQuery
  apps/ui/src/useQuery.ts
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

implement activate user
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/daos/userRegistrations/confirm.ts
  apps/api/src/daos/userRegistrations/index.ts
  apps/api/src/endpoints.ts
  apps/api/src/routers/users/activateUser.ts
  apps/api/src/routers/users/registerUser.ts
  apps/api/src/shared.ts
  apps/ui/src/createFetcher.ts
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix, npx -w apps/ui eslint --fix

[BE] use `.env` for global and `.env.local` for local
  .gitignore
  apps/api/.env
  apps/api/package.json
Due: prettier --ignore-unknown --write

[FE] set up frontend testing
  apps/ui/package.json
  apps/ui/src/setup.vitest.ts
  apps/ui/vitest.config.mjs
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[BE] add `companies` and `companies_users` tables
  apps/api/migrations/1741621342940_6.sql
Due: prettier --ignore-unknown --write

[BE] set up `nodemailer`
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/constants.ts
  apps/api/src/routers/users/registerUser.ts
  apps/api/src/transporter.ts
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

session 40: implement `registerUser` route
  apps/api/migrations/1741613464810_4.sql
  apps/api/src/app.ts
  apps/api/src/daos/userRegistrations/createUserRegistration.ts
  apps/api/src/daos/userRegistrations/index.ts
  apps/api/src/daos/users/setUserVerified.ts
  apps/api/src/endpoints.ts
  apps/api/src/exports.ts
  apps/api/src/pool.ts
  apps/api/src/routers/users/registerUser.ts
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

[FE] implement `useQuery`
  apps/ui/src/useQuery.ts
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] implement `Table` component
  apps/ui/src/components/Table.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] add `type` prop to `Label` component
  apps/ui/src/components/core/Label.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] implement `MyCompanies` component
  apps/ui/src/api.ts
  apps/ui/src/pages/MyCompanies.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[BE] fix error middleware
  apps/api/src/app.ts
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

[FE] implement http client
  apps/ui/src/api.ts
  apps/ui/src/components/DashboardLayout.tsx
  apps/ui/src/createFetcher.ts
  apps/ui/src/pages/Home.tsx
  apps/ui/src/pages/Login.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] parse error message from http request
  apps/ui/src/createFetcher.ts
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[BE] add `user.email` column
  apps/api/migrations/1741621268300_5.sql
  apps/api/src/daos/users/createUser.ts
  apps/api/src/daos/users/selectById.ts
  apps/api/src/daos/users/selectByUsername.ts
  apps/api/src/routers/users/registerUser.ts
  apps/api/src/seed.ts
  apps/ui/src/pages/Register.tsx
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix, npx -w apps/ui eslint --fix

add support for text response type
  apps/api/src/http.ts
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

session 39: add `user.is_verified` column
  apps/api/migrations/1741611267808_3.sql
  apps/api/src/daos/users/createUser.ts
  apps/api/src/daos/users/index.ts
  apps/api/src/daos/users/selectById.ts
  apps/api/src/daos/users/selectByUsername.ts
  apps/api/src/daos/users/setUserVerified.ts
  apps/api/src/parseAuth.ts
  apps/api/src/seed.ts
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

[FE] implement user registration
  apps/ui/src/App.tsx
  apps/ui/src/api.ts
  apps/ui/src/components/EntryLayout.tsx
  apps/ui/src/components/index.ts
  apps/ui/src/pages/Register.tsx
  apps/ui/src/pages/index.ts
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] improve `NavLink`
  apps/ui/src/components/core/NavLink.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[BE] add test for `registerUser` endpoint
  apps/api/src/routers/users/registerUser.spec.ts
  apps/api/src/setup.global.vitest.ts
  apps/api/src/setup.vitest.ts
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

[FE] refactor routing structure to include Home and My Companies pages; add DashboardLayout component and update Navbar links
  apps/ui/src/App.tsx
  apps/ui/src/components/DashboardLayout.tsx
  apps/ui/src/components/Navbar.tsx
  apps/ui/src/components/Table.tsx
  apps/ui/src/components/index.ts
  apps/ui/src/pages/Dashboard.spec.tsx
  apps/ui/src/pages/Home.spec.tsx
  apps/ui/src/pages/Home.tsx
  apps/ui/src/pages/MyCompanies.tsx
  apps/ui/src/pages/index.ts
  apps/ui/src/types.ts
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] implement `Alert` component
  apps/ui/src/components/core/Alert.tsx
  apps/ui/src/components/core/index.ts
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[BE] implement `createCompany` route
  apps/api/src/app.ts
  apps/api/src/daos/companies/createCompany.ts
  apps/api/src/daos/companies/index.ts
  apps/api/src/daos/companiesUsers/createCompanyUser.ts
  apps/api/src/daos/companiesUsers/index.ts
  apps/api/src/endpoints.ts
  apps/api/src/exports.ts
  apps/api/src/routers/companies/createCompany.ts
  apps/ui/src/pages/CreateCompany.tsx
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix, npx -w apps/ui eslint --fix

[BE] add `getCompanies` route and DAO method to retrieve companies by user ID
  apps/api/src/app.ts
  apps/api/src/daos/companies/index.ts
  apps/api/src/daos/companies/selectByUserId.ts
  apps/api/src/endpoints.ts
  apps/api/src/exports.ts
  apps/api/src/routers/companies/getCompanies.ts
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

add `prettier-plugin-sql`
  apps/api/.prettierrc.json
  apps/api/migrations/1733904130437_1.sql
  apps/api/migrations/1733904321821_2.sql
  apps/api/migrations/1741611267808_3.sql
  apps/api/migrations/1741613464810_4.sql
  apps/api/migrations/1741621268300_5.sql
  apps/api/package.json
  apps/ui/package.json
  package-lock.json
Due: prettier --ignore-unknown --write

[FE] update Button component styles to include border for normal variant
  apps/ui/src/components/core/Button.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] implement `CreateCompany`
  apps/ui/src/api.ts
  apps/ui/src/pages/CreateCompany.tsx
  apps/ui/src/pages/MyCompanies.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] enhance Form component to support layout variants
  apps/ui/src/components/core/Form.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] show http error properly in `Login` component
  apps/ui/src/pages/Login.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] add spacing to navbar items
  apps/ui/src/components/Navbar.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] update Input component styles to include border color
  apps/ui/src/components/core/Input.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] update CreateCompany component to use row layout for Form and Label
  apps/ui/src/pages/CreateCompany.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] update layout in DashboardLayout and MyCompanies components to use flexbox with gap
  apps/ui/src/components/DashboardLayout.tsx
  apps/ui/src/pages/MyCompanies.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] enhance Label component to support layout variants
  apps/ui/src/components/core/Label.tsx
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

[FE] add `tailwind-merge`
  apps/ui/package.json
  apps/ui/src/components/core/Alert.tsx
  apps/ui/src/components/core/Button.tsx
  apps/ui/src/components/core/Form.tsx
  apps/ui/src/components/core/Input.tsx
  apps/ui/src/components/core/Label.tsx
  apps/ui/src/twClassed.ts
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix

refactor migration setup to use @ravshansbox/pg-migrate package
  apps/api/package.json
  apps/api/src/index.ts
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

[BE] refactor API to use find-my-way
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/endpoints.ts
  apps/api/src/exports.ts
  apps/api/src/http.ts
  apps/api/src/index.ts
  apps/api/src/routers/checkHealth.ts
  apps/api/src/setup.global.vitest.ts
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/api eslint --fix

[FE] migrate from `tailwindcss` to `pandacss`
  .vscode/extensions.json
  .vscode/settings.json
  .zed/settings.json
  apps/ui/.gitignore
  apps/ui/.prettierrc.json
  apps/ui/eslint.config.mjs
  apps/ui/package.json
  apps/ui/panda.config.mjs
  apps/ui/postcss.config.mjs
  apps/ui/src/components/DashboardLayout.tsx
  apps/ui/src/components/EntryLayout.tsx
  apps/ui/src/components/Navbar.tsx
  apps/ui/src/components/Table.tsx
  apps/ui/src/components/core/Alert.tsx
  apps/ui/src/components/core/Aside.tsx
  apps/ui/src/components/core/Button.tsx
  apps/ui/src/components/core/Form.tsx
  apps/ui/src/components/core/Input.tsx
  apps/ui/src/components/core/Label.tsx
  apps/ui/src/components/core/NavLink.tsx
  apps/ui/src/components/index.ts
  apps/ui/src/index.css
  apps/ui/src/pages/MyCompanies.tsx
  apps/ui/src/pages/index.ts
  apps/ui/src/twClassed.ts
  apps/ui/tsconfig.json
  apps/ui/vite.config.mjs
  package-lock.json
Due: prettier --ignore-unknown --write, npx -w apps/ui eslint --fix
